* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.products {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    gap: 20px;
}

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
}
.namespace {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000;
}