<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Main Page</h1>
    <section class="products">
        {% for product in products %}
        <div class="product">
            <img src="{{product.img}}" alt="{{product.name}}">
            <div class="namespace">
                <h2>
                    <a href="/{{product.id}}">{{product.name}}</a>
                </h2>
                <p>${{product.price}}</p>
            </div>
            <form action="/add_to_cart/{{product.id}}" method="post">
                <button class="submit">Add to Cart</button>
            </form>
        </div>
        {% endfor %}
    </section>
</body>

</html>